<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>589959329423-2rbo5747s0848gn43mentr75nqv8769i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.589959329423-2rbo5747s0848gn43mentr75nqv8769i</string>
	<key>API_KEY</key>
	<string>AIzaSyDROe4ALEa5mxRn4XsPTUPXk6Lg_QSuOS4</string>
	<key>GCM_SENDER_ID</key>
	<string>589959329423</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.swimTimer</string>
	<key>PROJECT_ID</key>
	<string>swimtimer-36014</string>
	<key>STORAGE_BUCKET</key>
	<string>swimtimer-36014.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:589959329423:ios:c259f324dd7e1bae68a2fa</string>
</dict>
</plist>